:root {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-synthesis: none;
  color: #ccc;
  background-color: #1a1a1a;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

main {
  margin-top: 6rem;
}

h1 {
  text-wrap: balance;
  font-size: 2rem;
}

.demo-section {
  margin-top: 2rem;
}

.demo-iframe {
  width: 800px;
  height: 500px;
  max-height: 100%;
  max-width: 700px;
  overflow: hidden;
  border: 1px solid #0d1417;
}

footer {
  bottom: 0;
  font-family: monospace;
  position: absolute;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
}
