@import "tailwindcss";

@font-face {
  font-family: "Lilex";
  src: url("/fonts/Lilex.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lilex";
  src: url("/fonts/Lilex-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

::selection {
  background-color: hsl(308, 96%, 81%);
  color: hsl(232, 30%, 21%);
}

:root {
  --keyboard-height: 0px;
}

@custom-variant dark {
  @media (prefers-color-scheme: dark) {
    &:not(.dark, .dark *) {
      @slot;
    }
  }

  &:is(.dark, .dark *) {
    @slot;
  }
}

@custom-variant not-dark {
  @media not (prefers-color-scheme: dark) {
    &:not(.dark, .dark *) {
      @slot;
    }
  }
}

html,
:host {
  background-color: var(--color-base-background);
  color: var(--color-primary);
  color-scheme: light dark;
}

:root {
  touch-action: manipulation;
}

@layer base {
  html {
    color-scheme: light dark;
  }
}

body {
  font-family: var(--font-display);
  @apply text-base;
}

pre {
  font-family: var(--font-mono);
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--color-focus);
  outline-offset: 2px;
  border-radius: 2px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @apply appearance-none;
}

input[type="number"] {
  appearance: textfield;
}

@utility text-md {
  font-size: 16px;
  line-height: 1.25rem;
}

@utility size-max {
  width: 100%;
  height: 100%;
}

@utility min-size-max {
  min-width: 100%;
  min-height: 100%;
}

@utility max-size-max {
  max-width: 100%;
  max-height: 100%;
}

@utility size-auto {
  width: auto;
  height: auto;
}

@utility min-size-auto {
  min-width: auto;
  min-height: auto;
}

@utility max-size-auto {
  max-width: auto;
  max-height: auto;
}

@utility size-screen {
  width: 100vw;
  height: 100vh;
}

@utility min-size-screen {
  min-width: 100vw;
  min-height: 100vh;
}

@utility max-size-screen {
  max-width: 100vw;
  max-height: 100vh;
}

@utility font-bolder {
  font-weight: 750;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility press-down {
  &:active {
    transform: translateY(0.5px);
  }
}

/* OVERRIDES */

.scrollbar {
  max-width: 0% !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.xterm {
  padding: 8px;
}

.xterm-viewport,
.xterm-scrollable-element {
  background-color: #0d1117 !important;
}

pre.shiki {
  padding: 16px 16px 10px;
  overflow-x: auto;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
}

pre.shiki code {
  display: block;
  width: max-content;
  min-width: 100%;
  overflow-x: auto;
}

@media (min-width: 768px) {
  pre.shiki {
    max-width: 650px;
    width: fit-content;
  }
}

pre.has-focused .line:not(.focused) {
  @apply blur-[2px];
}
